body{
    width: 95%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: lightgoldenrodyellow;
}
.sec{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 120px;
}
/* nav bar section */
nav a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-size:15px;
    font-weight: bold;
    
}
nav{
    text-align: right;
    padding-top: 15px;
    padding-bottom: 60px;
}


/* intro section */
.half-width{
    width: 49%;
    float: left;
}
/* .intro-section{
    margin-top: 40px;
    margin-right: 30px;
} */
.intro-section h2{
    font-family: cursive;
    color: #363958;
    font-size: 50px;
    font-weight: bold;
}
.intro-section p{
    font-family: cursive;
    font-size: 20px;
    color: black;
    margin-top: -20px;
    padding-bottom: 40px;
}
.name{
    color: #FF8367;
}
.link-btn{
    padding: 20px 55px;
    font-size: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(45deg, rgb(223, 241, 119), rgb(54, 186, 209));
}

.intro-section img{
    width: 100%;
    height: auto;
    margin-top: -70px;
}


/* about section */
.about-section img{
    width: 90%;
    height: auto;
    /* margin-top: -70px; */
}
.about{
    padding-left: 20px;
    margin-top: 20px;
}
.about h2{
    font-family: cursive;
    color: #363958;
    font-size: 50px;
    font-weight: bold;
}
.about p{
    font-family: cursive;
    font-size: 20px;
    color: black;
    margin-top: -20px;
    padding-bottom: 40px;
}


/* work section */
.work-section{
    margin-top: 20px;
    margin-left: 100px;
    float: left;
}
.title{
    font-family: cursive;
    color: #363958;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    /* padding-top: 10px; */
}
.works{
    width: 26%;
    border-radius: 10px;
    padding: 20px;
    margin: 17px;
    float: left;
    box-shadow:0 7px 15px rgba(0,0,0,.15);
}
.works h3{
    margin: 0;
    padding: 20px 0;
    font-size: 25px;
    color: #363958;
}
.works img{
    max-width: 100%;
    border-radius: 10px;
}
.works p{
    color: black;
    margin: 0;
}

/* blog section */
.blog-section{
    margin-top: -80px;
    margin-left: 120px;
    float: left;
}
.blog{
    width: 25%;
    border-radius: 10px;
    padding: 20px;
    margin: 17px;
    float: left;
    box-shadow:0 7px 15px rgba(0,0,0,.15);
}
.blog h3{
    margin: 0;
    padding: 20px 0;
    font-size: 25px;
    color: #363958;
}
.blog img{
    max-width: 100%;
    border-radius: 10px;
}
.blog p{
    color: black;
    margin: 0;
}


/* inquiry section */
.work-inquiry{
    padding: 80px;
    float: left;
    margin-top: -90px;
}
.box{
    width: 900px;
    margin: auto;
    padding: 80px 60px;
    border-radius: 20px;
    background: url("icons/bg.png");
    background-repeat: no-repeat;
}

.half h2{
    font-size: 45px;
    font-family:cursive;
    margin: 0;
    padding: 0;
    color: white;
}

.btn{
    position: relative;
    left: 650px;
    bottom: 29px;
}


/* footer section */
.foter{
     width: 400px;
     margin: auto;
     /* float: left; */
     padding-top: 80px;
 }

.foter h3{
    color: #696871;
    font-size: 30px;
    float: left;
    position: relative;
    left: 30px;
    font-family:cursive;
    text-align: center;
    
 }
 .foter h1{
    font-size: 40px;
    padding: 0;
    color: #363958;
    font-family:cursive;
    text-align: center;
    margin-top: -15px;
 }

.footerimg img{
    width: 40px;
    height: 40px;
 }
 .footerimg{
     width: 140px;
     margin: auto;
 }

 footer{
     color: black;
     float: left;
     font-family:cursive;
    text-align: center;
    font-weight: bold;
 }